/* ===== Twitter Bootstrap Mod ==============================================
   Author:
   */
h2 > small {
    margin-left: 4px;
    font-weight: bold;
    font-size: 0.6em;
 }

.navbar .nav > li > a {
    font-size: 14px;
    font-weight: bold;
    text-shadow: none;
}

.navbar-inner {
    background-color: #FFFFFF;
    background-image: none; /*-moz-linear-gradient(center top , #FFFFFF, #F5F5F5);*/
    min-height: 60px;
}

.navbar .nav > li > a {
    padding: 19px 15px 21px;
}

.navbar .nav > li > a:hover {
    color: #666699; /** PHP Manualからカラー取得 **/
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #DDDDDD;
    color: #333333;
}

/* ===== Extra ==============================================================
   Author:
   */
/*
#main-container {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: right bottom;
 }
*/

#pm-hero-unit {
    padding: 0px 0px;
    padding-top: 20px;
    margin-bottom: 30px;
}

#pm-hero-unit .carousel-inner > .item {
    height: 400px;
    background-position: center center;
    background-size: cover;
}

#ticket-index {
    margin-top: 20px;
    border: 8px solid #858BBA;
    border-radius: 15px;
    padding: 15px;
    height: 350px;
}

#pm-map-index {
    width: 100%;
}

#pm-map-access {
    width: 100%;
}

.speaker {
    margin-bottom: 20px;
}

.sponsor {
    margin-bottom: 10px;
}

.sponsor-caption {
    display: none;
}

div.faq {
    border: 2px solid #CCCCCC;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 10px;
}

.faq h3{
    margin-bottom: 5px;
}

@media (min-width: 980px) {
    #pm-hero-unit .carousel-inner > .item {
        height: 400px;
    }
    #ticket-index {
        height: 350px;
    }
    #pm-map-index {
        height: 300px;
    }
    #pm-map-access {
        height: 400px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #pm-hero-unit .carousel-inner > .item {
        height: 300px;
    }
    #ticket-index {
        height: auto;
    }
    #pm-map-index {
        height: 200px;
    }
    #pm-map-access {
        height: 300px;
    }
}

@media (max-width: 767px) {
    #pm-hero-unit .carousel-inner > .item {
        height: 250px;
    }
    #ticket-index {
        height: auto;
    }
    #pm-map-index {
        height: 400px;
    }
    #pm-map-access {
        height: 400px;
    }
}

@media (max-width: 480px) {
    #pm-hero-unit .carousel-inner > .item {
        height: 180px;
    }
    #ticket-index {
        height: auto;
    }
}
