/* ===== Twitter Bootstrap Mod ==============================================
   Author:
   */
h2 > small {
    margin-left: 4px;
    font-weight: bold;
    font-size: 0.6em;
 }

h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom:1px solid #E1E1E1;
}

.navbar .nav > li > a {
    font-size: 14px;
    font-weight: bold;
    text-shadow: none;
    color: #555555;
}

.navbar-inner {
    background-color: #FFFFFF;
    background-image: none; /*-moz-linear-gradient(center top , #FFFFFF, #F5F5F5);*/
    min-height: 60px;
}

.navbar .nav > li > a {
    padding: 19px 15px 21px;
}

.navbar .nav > li > a:hover {
    color: #666699; /** PHP Manualからカラー取得 **/
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #DDDDDD;
    color: #333333;
}

/* ===== Extra ==============================================================
   Author:
   */
#pm-post {
    padding-top: 15px;
 }

#pm-post h1 {
    margin-bottom: 20px;
 }

#pm-post h2 {
    margin: 10px;
    margin-top: 20px;
 }

#pm-post p{
    margin: auto 15px;
    font-size: 1.2em;
    line-height: 160%;
 }

#pm-hero-unit {
    padding: 0px 0px;
    padding-top: 20px;
    margin-bottom: 30px;
}

#pm-hero-unit .carousel-inner > .item {
    height: 400px;
    background-position: center center;
    background-size: cover;
}

#ticket-index {
    margin-top: 20px;
    border: 8px solid #858BBA;
    border-radius: 15px;
    padding: 15px;
    height: 350px;
}

#social-index {
    margin-top: 10px;
    padding: 5px;
}

.social-item {
    margin-left: 15px;
}

#pm-map-index {
    width: 100%;
}

#pm-map-access {
    width: 100%;
}

.speaker {
    margin-bottom: 20px;
}

.sponsor {
    background-color: white;
    margin-bottom: 10px;
}

.sponsor-title {
    display: none;
    font-size: 1.2em;
    color: gray;
 }

.sponsor-logo.platinum {
    height: 180px;
    line-height: 180px;
}

.sponsor-logo.gold {
    height: 180px;
    line-height: 180px;
}

.sponsor-logo.silver {
    width: 160px;
    height: 111px;
    line-height: 111px;
}

.sponsor-logo img{
    vertical-align: middle;
}

.sponsor-caption {
    display: none;
}

.caption > h3{
    font-size: 1.5em;
    margin-bottom: 8px;
}
.caption.silver{
    font-size: 0.9em;
}

div.faq {
    border: 2px solid #CCCCCC;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 10px;
}

.faq h3{
    margin-bottom: 5px;
}

footer {
    margin-top: 50px;
}
.footer-content {
    left:0;
    right:0;
    color: #636363;
    background-color: #F8F8F8;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    height: 300px;
    padding-top:10px;
}

.footer-content table {
    margin-left: 20px;
}
.footer-content table th {
    padding-right: 20px;
    padding-bottom: 5px;
}
.footer-title {
    margin-top:20px;
    margin-bottom:10px;
    text-align:left;
    font-size:medium;
    font-weight:bold;
}
.staff-icon .img-rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 4px;
}
@media (min-width: 980px) {
    #pm-hero-unit .carousel-inner > .item {
        height: 400px;
    }
    #ticket-index {
        height: 350px;
    }
    #pm-map-index {
        height: 300px;
    }
    #pm-map-access {
        height: 400px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #pm-hero-unit .carousel-inner > .item {
        height: 300px;
    }
    #ticket-index {
        height: auto;
    }
    #pm-map-index {
        height: 200px;
    }
    #pm-map-access {
        height: 300px;
    }
}

@media (max-width: 767px) {
    #pm-hero-unit .carousel-inner > .item {
        height: 250px;
    }
    #ticket-index {
        height: auto;
    }
    #pm-map-index {
        height: 400px;
    }
    #pm-map-access {
        height: 400px;
    }
}

@media (max-width: 480px) {
    #pm-hero-unit .carousel-inner > .item {
        height: 180px;
    }
    #ticket-index {
        height: auto;
    }
}
