---
layout: default
title: PHP Matsuri 2012
---

<div class="row">
    <div class="span9">
        <div class="page-header">
            <h1>日程/会場</h1>
        </div>

        <h2>日程</h2>
        <p style="font-size:medium;"><strong>2012年11月3日(土) 10:00 ～ 4日(日) 16:00</strong></p>
        <p>11/3は10時に会場を開放して受付開始、講演は13時スタートの予定です。<br />
        10時から13時まではハックスペースで自由に開発できます。時間に余裕のある方はお早めにどうぞ。<br />
        チケットには、11/3の夕食と、11/4の昼食が付きます。それ以外は各自で用意して頂く予定です<br/>
	</p>

        <h2>会場</h2>
        <div class="well well-small">
            <p><strong><a href="http://frac.jp/">福岡県Ruby・コンテンツ産業振興センター</a></strong></p>
            <p>福岡市博多区博多駅東1丁目17-1&nbsp;福岡県福岡東総合庁舎　4階及び5階</p>
            <p>TEL：092-477-6431　FAX：092-483-1216</p>
        </div>
        <iframe id="pm-map-access" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?q=33.590161,130.423534&amp;num=1&amp;hl=en&amp;brcurrent=3,0x3541904f79dbf931:0xf9c4c73e319d9e4a,0&amp;ie=UTF8&amp;ll=33.590193,130.423518&amp;spn=0.025775,0.055747&amp;t=m&amp;z=15&amp;output=embed"></iframe>

    </div>
    <div class="span3">
        {% include sidemenu.html %}
    </div>
</div>


<footer>
    <div class="row">
        {% include footer.html %}
    </div>

</footer>
