---
layout: default
title: CoderDojo 
---

<div class="row">
    <div class="span9">

        <section>
            <div class="page-header">
                <h1>子供向けプログラミング教室 Coder Dojo@福岡 開催！</h1>
            </div>
	    <img src="img/coderdojo/coderdojo-octocat3.jpg"/>
	    <p>
	    
 
 プログラミングに挑戦してみませんか? CoderDojoは小中学生を対象にした無料の「プログラミング道場」。 <br />
 これまでも東京、沖縄などの各地で開催されてきました。東京での様子は、こちらの写真をどうぞ。<br/>
 <a href="https://www.facebook.com/media/set/?set=a.367523619965341">https://www.facebook.com/media/set/?set=a.367523619965341</a><br/>
 <a href="https://www.facebook.com/media/set/?set=a.378002488917454">https://www.facebook.com/media/set/?set=a.378002488917454</a>
  
<br/><br/>
  ■参加資格<br/>
  年齢 : 小中学生<br/>
  定員 : 10人まで<br/>
  ※ 当日、保護者の付き添いが必要です。<br/>
  ※ お子さんの学年と、プログラミングの希望(あれば)をコメント欄に書いてください。<br/>
   <br/><br/>
   ■タイムテーブル<br/>
   11/4(日)<br/>
   8:30 やる内容で班分け (ちょっと早めに集ってね!) <br/>
   8:35 道場スタート<br/>
   9:30 道場おわり。解散! 10:00から始まるPHPMatsuriコンテストも見学できます。<br/>
   ※道場のあとも作業OK。先生が残っていれば質問も。<br/>
    <br/><br/>
    ■先生はどんな人?<br/>
    プログラマやデザイナ、エンジニアなど、ソフトやハードを作ることを専門にしている人たちです。<br/>
    こどものコンピュータ教育に携わる方、会場のOSSCafeの常連ボランティアさん他。<br/>
    ※1,2人のこどもに対して、先生が1人付きます。<br/>
    <br/><br/>

    ■持ち物<br/>
    ノートパソコン (Mac, Windows, Linux, など)<br/>
    ノートパソコンの電源アダプタ- マウス (小学校低学年ほか、タッチパッドに不慣れな場合)<br/>


    <br/><br/>

    ■内容<br/>
    <a href="http://scratch.mit.edu/">Scratch</a> (低学年向け)<br/>
    HTML + CSS + JavaScript (高学年向け)<br/>


    <br/><br/>
    ■会場<br/>
    PHPMatusriと同じ会場です<br/>
    <a href="http://www.phpmatsuri.net/2012/access.html">http://www.phpmatsuri.net/2012/access.html</a><br/>

    <br/><br/>
    ■参加応募<br/>
    <a href="http://atnd.org/events/33317">ATNDよりご応募ください。</a>先着順ですのでご注意ください。<br/>

	    </p>
	    <br />
        </section>

   </div>
    <div class="span3">
        {% include sidemenu.html %}
    </div>
</div>



<footer>
    <div class="row">
        {% include footer.html %}
    </div>

</footer>
