---
layout: default
title: PHP Matsuri 2012
---

<div class="row">
    <div class="span9">
        <div class="page-header">
            <h1>よくある質問と回答</h1>
        </div>

        <p>
            PHPMatsuriについて良く聞かれる質問についてのよくある質問と回答集です。イベントについて不明な点は #phpmatsuri のハッシュタグや @phpmatsuri のアカウントに対して話しかけてみてください。青年団の誰かが対応します。
        </p>

        <div class="faq">
            <h3>みんなで同じものを作るのでしょうか？</h3>
            <p>
                ハックで何をするかは参加者が自由に決められます。アイデアがあるものを作ったり、作りかけのものを完成させたり、ドキュメントをじっくり書くなんていうのもOKです。アイデアがまだ無くても、セッションを聞いたりワークショップに参加して実際にサンプルを作ったりもできます。なんにしても詰まった時にはすぐ誰かに聞ける環境なので作業効率は10倍から100倍ほど良いでしょう。
            </p>
        </div>

        <div class="faq">
            <h3>PHP 以外で作っても良いですか？</h3>
            <p>
                PHPのフレームワークを対象にしたコンテストとセッションが多いですが、そういった制限はありません。TitaniumはJavaScriptですし、他の言語のコミュニティから潜入してきた忍の者がワークショップを開催したりする事もあるかもしれません。海外のハッカソンでは一晩中かけてケーキを焼いたなんていうグループも居ましたよ。
            </p>
        </div>

        <div class="faq">
            <h3>発表できるほど立派なものは作れないです。。。</h3>
            <p>
                「学び方を学び、師を見つける」という事が大事という言葉があります。自分よりもレベルが高い人と時間を共にする事であなたの潜在能力が伸びて行きます。またエッジの効いた人達はコードに全精力を傾けてしまうので、レポートブログを書いたりビデオを取ったり、テスターを手伝ったり、デザインを担当したりとコードを書く事以外にもアウトプットの方法はありますよ。
            </p>
        </div>

        <div class="faq">
            <h3>技術力が無くても参加しても良いのですか？</h3>
            <p>
                大丈夫です。セッションやワークショップを通じて気になる技術を学ぶ事ができます。また１人ではなかなかやりきれないサンプルプログラム作成などをハッカソンという環境を通じて一気に進めるという事もできますよ。技術力が高そうな人達も気分転換にもなるので困ったときは質問に応えてくれたりするでしょう。
            </p>
        </div>

        <div class="faq">
            <h3>英語のスピーカーばかり。英語分からないです。。。</h3>
            <p>
                英語の講演には日本語の逐次通訳が入ります。ワークショップについては手のあいた誰かが通訳をする形で進行する予定です。ゲストは多いですが日本語のイベントです。もちろん英語をがんばるとゲストと直接コミュニケーションできたり通訳を手伝ったりできてとても良いですね。
            </p>
        </div>

        <div class="faq">
            <h3>どんな雰囲気のイベントなんでしょうか。</h3>
            <p>一昨年のイベントの様子が<a href="http://2011.phpmatsuri.net/blog/phpmatsuri-is-coming-in-osaka">動画になっています</a>。また昨年の<a href="http://2011.phpmatsuri.net/">参加者の方のブログ記事はこちら</a>です。</p>
        </div>

        <div class="faq">
            <h3>女性でも参加できますか？</h3>
            <p>
                昨年は女性の参加者は5名お越しになりました。今年も女性の参加者は居ると思いますので、技術系女子仲間を探す機会にもなるかもしれません。また女性の方は宿泊の部屋割りは別室になります。（カップルで参加される方などは相談に応じます）
            </p>
        </div>

    </div>
    <div class="span3">
        {% include sponsor.html %}
    </div>
</div>
<hr />

<footer>
<div class="row">
    {% include sponsor.html %}
</div>
</footer>
