---
layout: default
title: PHP Matsuri 2012
---

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
    <div id="pm-hero-unit" class="span9 carousel slide">
        <div class="carousel-inner">
            <div class="item active" style="background-image:url(img/top.png);">
            </div>
            <div class="item" style="background-image:url(img/phpmatsuri2011all.jpg);">
            </div>
            <div class="item" style="background-image:url(img/phpmatsuri2011_1.jpg);">
            </div>
            <div class="item" style="background-image:url(img/phpmatsuri2011_2.jpg);">
            </div>
            <div class="item" style="background-image:url(img/phpmatsuri2011_3.jpg);">
            </div>
        </div>
        <a class="left carousel-control" href="#pm-hero-unit" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#pm-hero-unit" data-slide="next">&rsaquo;</a>
    </div>
    <div class="span3">
        {% include ticket.html %}
    </div>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>News/Blog<small>ニュース/ブログ</small></h2>
        <ul class="posts">
            {% for post in site.posts %}
              <li><span>{{ post.date | date_to_string }}</span> <br />
	          &raquo; <a href="/2012{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="span4">
        <h2>Information<small>イベント情報</small></h2>
	<h3>日程</h3>
        <p><strong>2012年11月3日(土) ～ 4日(日)</strong></p>
        <p>会場は24時間使えますので、徹夜で開発できます！</p>
	<h3>場所</h3>
        <p>
            <a href="http://frac.jp/">福岡県Ruby・コンテンツ産業振興センター</a>
        </p>
	<br />
        <p><a class="btn" href="access.html">詳しくはこちら &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>What's Hackathon?<small>ハッカソン？</small></h2>
        <p><strong>ハッカソン[Hackathon：Hack-a-thon]</strong>とは、HackとMarathonを合わせた言葉で、その名のとおりみんなで集まって1日中ハックをして楽しむイベントのことを指します。</p>
        <p>PHPMatsuriは、日本最大級のハッカソン「祭り」として100人近くが集まってワイワイ楽しむイベントです。</p>
        <p>開発するもよし、海外ゲストと話すもよし、いつもは会えないいろいろな技術者と語らうもよし。</p>
        <p>日本中の技術者、世界の様々なところから来た技術者ととても濃い充実した時間を過ごせるイベントです。</p>
        <p><a class="btn" href="faq.html">その他のよくある質問はこちら &raquo;</a></p>
    </div>
</div>
