---
layout: default
title: PHP Matsuri 2012
---

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
    <div id="pm-hero-unit" class="span9 carousel slide">
        <div class="carousel-inner">
            <div class="item active" style="background-image:url(img/top.png);">
            </div>
            <div class="item" style="background-image:url(img/phpmatsuri2011_4.jpg);">
            </div>
            <div class="item" style="background-image:url(img/phpmatsuri2011all.jpg);">
                <!--
                    <div class="carousel-caption">
                    <h4>First Thumbnail label</h4>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                -->
            </div>
            <div class="item" style="background-image:url(img/phpmatsuri2011_1.jpg);">
            </div>
            <div class="item" style="background-image:url(img/phpmatsuri2011_2.jpg);">
            </div>
            <div class="item" style="background-image:url(img/phpmatsuri2011_3.jpg);">
            </div>
        </div>
        <a class="left carousel-control" href="#pm-hero-unit" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#pm-hero-unit" data-slide="next">&rsaquo;</a>
    </div>
    <div class="span3">
        <div id="ticket-index">
            <h2>Tickets<small>チケット</small></h2>
            <p>今年の開催場所は福岡！ 博多駅徒歩5分の場所です。</p>
            <p>今年は<font color="red">チケットに宿泊代金を含めない</font>ことにしました。</p>
            <p>好みの宿泊施設を借りるもよし、徹夜覚悟で宿泊施設を予約しないもよし！(会場は24時間使え、近くには24時間営業のサウナがあります)</p>
            <p>連休の開催ですので、飛行機や宿の予約はお早めにどうぞ。</p>
            <!-- <p><a class="btn btn-warning" href="#">チケット購入はこちら &raquo;</a></p>-->
            <p><a class="btn btn-warning disabled" href="#">チケット購入は<br />今しばらくお待ちください！<br />
               9/15(土)から販売開始予定です！</a>
	    </p>
            <p></p>
        </div>
    </div>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>News/Blog<small>ニュース/ブログ</small></h2>
        <ul class="posts">
            {% for post in site.posts %}
              <li><span>{{ post.date | date_to_string }}</span> <br />
	          &raquo; <a href="/2012{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="span4">
        <h2>Information<small>イベント情報</small></h2>
	<h3>日程</h3>
        <p><strong>2012年11月3日(土) ～ 4日(日)</strong></p>
        <p>会場は24時間使えますので、徹夜で開発できます！</p>
	<h3>場所</h3>
        <p>
            <a href="http://frac.jp/">福岡県Ruby・コンテンツ産業振興センター</a>
        </p>
	<br />
        <p><a class="btn" href="access.html">詳しくはこちら &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>What's Hackathon?<small>ハッカソン？</small></h2>
        <p><strong>ハッカソン[Hackathon：Hack-a-thon]</strong>とは、HackとMarathonを合わせた言葉で、その名のとおりみんなで集まって1日中ハックをして楽しむイベントのことを指します。</p>
        <p>PHPMatsuriは、日本最大級のハッカソン「祭り」として100人近くが集まってワイワイ楽しむイベントです。</p>
        <p>開発するもよし、海外ゲストと話すもよし、いつもは会えないいろいろな技術者と語らうもよし。</p>
        <p>日本中の技術者、世界の様々なところから来た技術者ととても濃い充実した時間を過ごせるイベントです。</p>
        <p><a class="btn" href="faq.html">その他のよくある質問はこちら &raquo;</a></p>
    </div>
</div>


<footer>
    <div class="row">
        {% include sponsor.html %}
    </div>
    <div class="row">
        {% include footer.html %}
    </div>

</footer>
