---
layout: default
title: PHP Matsuri 2012
---

<div class="row">
    <div class="span9">

        <section>
            <div class="page-header">
                <h1><a id="session" name="session" href="#session">セッション</a></h1>
            </div>

            <img src="img/under.png" />
            <!--
            {% include speakers.html %}
            -->

        </section>

        <section>
            <div class="page-header">
                <h1><a id="timetable" name="timetable" href="#timetable">タイムテーブル</a></h1>
            </div>
            <img src="img/under.png" />
            <!--
            <h3>11日(土)PM</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Time
                        </th>
                        <th>
                            Title
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            -->
        </section>
    </div>
    <div class="span3">
        {% include sponsor.html %}
    </div>
</div>

<hr />

<footer>
    <div class="row">
        {% include sponsor.html %}
    </div>
</footer>
