<div class="footer-content">

	<div class="span8">
		<div class="fotter-menu">
		<div class="footer-title">お問合せ先</div>
		<table>
			<tr>
				<th>Twitter</th>
				<td><a href="https://twitter.com/phpmatsuri">phpmatsuri</a></td>
			</tr>
			<tr>
				<th>Mail</th>
				<td>php-matsuri-honbuアットマークgooglegroups.com</td>
			</tr>

		</table>
		<div class="footer-title">過去のPHPMatsuriサイト</div>
		<table>
			<tr>
				<th>ポータル</th>
				<td><a href="http://www.phpmatsuri.net">www.phpmatsuri.net</a></td>
			</tr>
			<tr>
				<th>2011(大阪)</th>
				<td><a href="http://2011.phpmatsuri.net">2011.phpmatsuri.net</a></td>
			</tr>
			<tr>
				<th>2010(東京)</th>
				<td><a href="http://2010.phpmatsuri.net">2010.phpmatsuri.net</a></td>
			</tr>

		</table>

		</div>
		<div class="footer-title">PHPMatsuri2012 produced by PHP祭り青年団</div>
		<div class="staff-icon">

		</div>
	</div>

	<div class="span4">

<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 8,
  interval: 30000,
  width: 300,
  height: 300,
  theme: {
    shell: {
      background: '#196cd1',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#1707eb'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('phpmatsuri').start();
</script>

	</div>
	
</div>
