<div class="footer-content">

	<div class="span4">
		<div class="fotter-menu">
		<div class="footer-title">お問合せ先</div>
		<table>
			<tr>
				<th>Twitter</th>
				<td><a href="https://twitter.com/phpmatsuri">phpmatsuri</a></td>
			</tr>
			<tr>
				<th>Mail</th>
				<td>php-matsuri-honbuアットマークgooglegroups.com</td>
			</tr>

		</table>
		<div class="footer-title">過去のPHPMatsuriサイト</div>
		<table>
			<tr>
				<th>ポータル</th>
				<td><a href="http://www.phpmatsuri.net">www.phpmatsuri.net</a></td>
			</tr>
			<tr>
				<th>2011(大阪)</th>
				<td><a href="http://2011.phpmatsuri.net">2011.phpmatsuri.net</a></td>
			</tr>
			<tr>
				<th>2010(東京)</th>
				<td><a href="http://2010.phpmatsuri.net">2010.phpmatsuri.net</a></td>
			</tr>

		</table>

		</div>

	</div>
	<div class="span4">
		<div class="footer-title">PHPMatsuri2012 produced by PHP祭り青年団</div>
		<div class="staff-icon pull-left">
			<a href="http://twitter.com/cakephper"><img class="img-rounded" src="./icons/ichikaway.jpg"/></a>
			<a href="http://twitter.com/sanojimaru"><img class="img-rounded" src="./icons/sanojimaru.jpg"/></a>
			<a href="http://twitter.com/k1LoW"><img class="img-rounded" src="./icons/k1LoW.jpg"/></a>
			<a href="http://twitter.com/kaz_29"><img class="img-rounded" src="./icons/kaz_29.jpg"/></a>
			<a href="http://twitter.com/yando"><img class="img-rounded" src="./icons/yando.jpg"/></a>
			<a href="http://twitter.com/shin1x1"><img class="img-rounded" src="./icons/shin1x1.png"/></a>
			<a href="http://twitter.com/suzuki"><img class="img-rounded" src="./icons/suzuki.jpeg"/></a>
			<br />
			<a href="http://twitter.com/BiMihoujyun"><img class="img-rounded" src="./icons/BiMihoujyun.jpg"/></a>
			<a href="http://twitter.com/mon_sat"><img class="img-rounded" src="./icons/mon_sat.gif" width="48px"/></a>
			<a href="http://twitter.com/sizuhiko"><img class="img-rounded" src="./icons/sizuhiko.png"/></a>	
			<a href="http://twitter.com/withelmo"><img class="img-rounded" src="./icons/withelmo.JPG"/></a>	
			<a href="http://twitter.com/ganchiku"><img class="img-rounded" src="./icons/ganchiku.jpg"/></a>	
			<a href="http://twitter.com/kekkorock"><img class="img-rounded" src="./icons/kekkorock.jpeg"/></a>
			<a href="http://twitter.com/rytich"><img class="img-rounded" src="./icons/rytich.png"/></a>
		</div>
	</div>

	<div class="span4">

<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 8,
  interval: 30000,
  width: 300,
  height: 200,
  theme: {
    shell: {
      background: '#196cd1',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#1707eb'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('phpmatsuri').start();
</script>

	</div>
	
</div>
