        <meta property="og:type" content="website">
	<meta property="og:title" content="PHPMatsuri2012 official site">
	<meta property="og:url" content="http://www.phpmatsuri.net/2012/">
	<meta property="og:description" content="PHPMatsuri 2012は11/3から4までの徹夜ハッカソンイベントです。今年は福岡で開催！">
	<meta property="og:site_name" content="PHPMatsuri2012 official site">
	<meta property="og:image" content="http://www.phpmatsuri.net/images/phpmatsuri_logo.jpg"/>
	<meta property="og:image:width" content="250"/>
	<meta property="og:image:height" content="139"/>

