<div class="speaker row-fluid">
    <div class="span4">
        <a href="#" class="thumbnail">
            <img src="img/session/ryuzee.png" alt="" />
        </a>
    </div>
    <div class="span8 offset1">
      <h2>吉羽龍太郎<br />
      Ryuzee.com /アジャイルコーチ　</h2>
    <p>アジャイルコーチとして数年来大小様々な会社へのアジャイルな開発プロセスの導入や改善の支援、組織改革の支援等を行う。TIS、野村総合研究所を経て現職。<br />
    認定スクラムプロフェショナル(CSP) / 認定スクラムプロダクトオーナー(CSPO) / 認定スクラムマスター(CSM) / Microsoft MVP for Visual Studio ALM<br />
    仲間とともに「スクラム道」を設立し、スクラムの実践を支援している。2013年1月開催のScrum Alliance Regional Gathering Tokyo 2013実行委員<br />
    <br />
    URL： <a href="http://www.ryuzee.com/" target="_blank">http://www.ryuzee.com/</a><br />
    Twitter： <a href="http://twitter.com/ryuzee" target="_blank">@ryuzee</a></p>
    </div>
</div>
