<div class="speaker row-fluid">
    <div class="span4">
    	<img class="speaker-thumbnail thumbnail" src="img/session/koriym.jpg" alt="" />
    </div>
    <div class="span8 offset1">
      <h2>郡山昭仁</h2>
      <strong>Akihitio Koriyama</strong>
      <div class="well well-large">
	講演タイトル: <strong>「PHP: Dis Is It (2012)」</strong>
	<br />
	講演内容: 
      </div>
      <p>東京を拠点にするフリーランスのPHPプログラマ。<br /> BEAR.Sundayフレームワークを開発中。

      </p>
    URL： <a href="http://www.kumasystem.com/" target="_blank">http://www.kumasystem.com/</a><br />
    Twitter： <a href="http://twitter.com/koriym" target="_blank">@koriym</a></p>
    </div>
</div>



<div class="speaker row-fluid">
    <div class="span4">
    	<img class="speaker-thumbnail thumbnail" src="img/session/ryuzee.png" alt="" />
    </div>
    <div class="span8 offset1">
      <h2>吉羽龍太郎</h2>
      <strong>Ryuzee.com /アジャイルコーチ</strong>
      <div class="well well-large">
	講演タイトル: <strong>「CakePHP＋Jenkinsによるアジャイルな開発」</strong>
	<br />
	講演内容: 
      </div>
    <p>アジャイルコーチとして数年来大小様々な会社へのアジャイルな開発プロセスの導入や改善の支援、組織改革の支援等を行う。TIS、野村総合研究所を経て現職。<br />
    認定スクラムプロフェショナル(CSP) / 認定スクラムプロダクトオーナー(CSPO) / 認定スクラムマスター(CSM) / Microsoft MVP for Visual Studio ALM<br />
    仲間とともに「スクラム道」を設立し、スクラムの実践を支援している。2013年1月開催のScrum Alliance Regional Gathering Tokyo 2013実行委員<br />
    <br />
    URL： <a href="http://www.ryuzee.com/" target="_blank">http://www.ryuzee.com/</a><br />
    Twitter： <a href="http://twitter.com/ryuzee" target="_blank">@ryuzee</a></p>
    </div>
</div>


