<div class="speaker row-fluid">
    <div class="span4">
    	<img class="speaker-thumbnail thumbnail" src="img/session/koriym.jpg" alt="" />
    </div>
    <div class="span8 offset1">
      <h2>郡山昭仁</h2>
      <strong>Akihitio Koriyama</strong>
      <div class="well well-large">
	講演タイトル: <strong>「PHP: Dis Is It (2012)」</strong>
	<br />
	講演内容: 
      </div>
      <p>東京を拠点にするフリーランスのPHPプログラマ。<br /> BEAR.Sundayフレームワークを開発中。

      </p>
    URL： <a href="http://www.kumasystem.com/" target="_blank">http://www.kumasystem.com/</a><br />
    Twitter： <a href="http://twitter.com/koriym" target="_blank">@koriym</a></p>
    </div>
</div>



<div class="speaker row-fluid">
    <div class="span4">
    	<img class="speaker-thumbnail thumbnail" src="img/session/adachi.png" alt="" />
    </div>
    <div class="span8 offset1">
      <h2>足立昌彦</h2>
      <strong>adamrocker/バイドゥ株式会社</strong>
      <div class="well well-large">
	講演タイトル: <strong>未定</strong>
	<br />
	講演内容: 
      </div>
      <p>
日本の大手企業研究所で研究員として5年働いたのち渡米。その後、中国検索最王手の「百度(バイドゥ)」に転職。
プライベートでAndroid向け日本語入力アプリ「Simeji」を開発しバイドゥへ売却。同時に入社。
Google Developer Expert(Android)を担当。
日本Androidの会の立ち上げやデ部(Androidデベロッパー倶楽部)の立ち上げなど、開発系コミュニティに関わる。
      </p>
    Twitter： <a href="http://twitter.com/adamrocker" target="_blank">@adamrocker</a></p>
    </div>
</div>



<div class="speaker row-fluid">
    <div class="span4">
    	<img class="speaker-thumbnail thumbnail" src="img/session/ryuzee.png" alt="" />
    </div>
    <div class="span8 offset1">
      <h2>吉羽龍太郎</h2>
      <strong>Ryuzee.com /アジャイルコーチ</strong>
      <div class="well well-large">
	講演タイトル: <strong>「CakePHP＋Jenkinsによるアジャイルな開発」</strong>
	<br />
	講演内容: 
      </div>
    <p>アジャイルコーチとして数年来大小様々な会社へのアジャイルな開発プロセスの導入や改善の支援、組織改革の支援等を行う。TIS、野村総合研究所を経て現職。<br />
    認定スクラムプロフェショナル(CSP) / 認定スクラムプロダクトオーナー(CSPO) / 認定スクラムマスター(CSM) / Microsoft MVP for Visual Studio ALM<br />
    仲間とともに「スクラム道」を設立し、スクラムの実践を支援している。2013年1月開催のScrum Alliance Regional Gathering Tokyo 2013実行委員<br />
    <br />
    URL： <a href="http://www.ryuzee.com/" target="_blank">http://www.ryuzee.com/</a><br />
    Twitter： <a href="http://twitter.com/ryuzee" target="_blank">@ryuzee</a></p>
    </div>
</div>


