<div class="span12">
    <h3 id="sponsor-title">Sponsor</h3>
</div>
<div class="span12 sponsor-title">
    <h4>Platinum Sponsor</h4>
</div>
<div class="span3 sponsor">
    <div class="thumbnail">
        <div class="sponsor-logo platinum">
            <a href="http://fusic.co.jp">
                <img src="img/sponsor/fusic.png" alt="" />
            </a>
        </div>
        <div class="caption sponsor-caption">
            <h3>株式会社Fusic</h3>
            <p>FusicはITコンサルティングからシステム開発・運用までを手がけるシステム開発会社です。</p>
            <p>福岡を拠点としてクラウド活用・RIAなど独自の技術力で躍進を続け、自社パッケージの開発も手がけています。</p>
            <p>ランキング作成サイト「<a href="http://nalabel.com/">ナラベル</a>」や、プレゼンテーション配信サービス「<a href="http://zenpre.net/">ZENPRE</a>」、インターネット通販プラットホーム「<a href="https://www.ureruad.jp/">売れるネット広告つくーる</a>」などの自社サービスも展開しており、受託開発企業からサービス提供企業へと組織を拡大させ、市場の期待に応えられるサービスを順次リリースしていきます。</p>
        </div>
    </div>
</div>
<div class="span12 sponsor-title">
    <h4>Gold Sponsor</h4>
</div>
<div class="span3 sponsor">
    <div class="thumbnail">
        <div class="sponsor-logo gold">
            <a href="http://ic-com.co.jp">
                <img src="img/sponsor/iccom.png" alt="" />
            </a>
        </div>
        <div class="caption sponsor-caption">
            <h3>アイシーコム株式会社</h3>
            <p>アイシーコムは、『I（私,I）C（変化,Change）COM（会社,Company）』という社名に意味を込め活動
            しております。</p> 
            <p>主に社会や会社組織を変えていきたいなあという思いが発端です。
            システム開発としてのIT企業に留まらず社会と一体になって何か変えていける企業になりたいなあ
            という思いがあります。</p> 

            <p>そこで、ITと食品加工販売から農業生産を行っている企業として、
            日本に存在する企業として、古から伝わる技術や知恵を現代の技術や知恵と融合させ、
            世界に対して発信をする企業になっていきたいなあと思い、
            企業理念を『モノづくりで、ものづくりを、強くする』とさせていただきました。</p> 

            <p>ものづくりは日本が持って生まれた類い希なアイデンティティーだと感じています。</p>

            <p>私たちアイシーコムは、農業生産技術、食品加工技術活やIT技術によるものづくりを行い、広め、
            さらにITを中心とした企業ならではのモノづくりを行いサービスを提供していきたいと考えています。</p>
        </div>
    </div>
</div>
<!--
<div class="span3 sponsor">
    <div class="thumbnail">
        <div class="sponsor-logo gold">
            <a href="#">
                <img src="http://placehold.it/260x180" alt="" />
            </a>
        </div>
        <div class="caption sponsor-caption">
            <h3>Company Name</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
        </div>
    </div>
</div>
-->
<div class="span12 sponsor-title">
    <h4>Silver Sponsor</h4>
</div>
<!--
<div class="span2 sponsor">
    <div class="thumbnail">
        <div class="sponsor-logo">
            <a href="#">
                <img src="http://placehold.it/260x180" alt="" />
            </a>
        </div>
        <div class="caption sponsor-caption">
            <h3>Company Name</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
        </div>
    </div>
</div>
-->