<h3>Sponsor</h3>
<div class="span3 sponsor">
    <a href="#" class="thumbnail">
        <img src="http://placehold.it/260x180" alt="" />
    </a>
</div>
<div class="span3 sponsor">
    <a href="#" class="thumbnail">
        <img src="http://placehold.it/260x180" alt="" />
    </a>
</div>
<div class="span3 sponsor">
    <a href="#" class="thumbnail">
        <img src="http://placehold.it/260x180" alt="" />
    </a>
</div>
<div class="span3 sponsor">
    <a href="#" class="thumbnail">
        <img src="http://placehold.it/260x180" alt="" />
    </a>
</div>

<div class="span2 sponsor">
    <a href="#" class="thumbnail">
        <img src="http://placehold.it/260x180" alt="" />
    </a>
</div>
<div class="span2 sponsor">
    <a href="#" class="thumbnail">
        <img src="http://placehold.it/260x180" alt="" />
    </a>
</div>
<div class="span2 sponsor">
    <a href="#" class="thumbnail">
        <img src="http://placehold.it/260x180" alt="" />
    </a>
</div>
<div class="span2 sponsor">
    <a href="#" class="thumbnail">
        <img src="http://placehold.it/260x180" alt="" />
    </a>
</div>
<div class="span2 sponsor">
    <a href="#" class="thumbnail">
        <img src="http://placehold.it/260x180" alt="" />
    </a>
</div>
<div class="span2 sponsor">
    <a href="#" class="thumbnail">
        <img src="http://placehold.it/260x180" alt="" />
    </a>
</div>
